body {
    /* background-color: #34eb6b; */
	background-image: url("../img/photo-1517181875630-f72350452109.jpg");
}

/*Align the title to the center of the page*/
.table{
	font-size: 13px;
	text-align: center;
	width: 95%;
	margin: auto;
	text-align: center;
}
.mybutton{
        width: 100%;
}

/*Make alternating colors for the table rows*/
.table tr:nth-child(odd){
	background: #B8CAE4
}

.table tr:nth-child(even){
	background: #dae5f4
}

th {
  background-color: #337ab7;
  color: white;
}
.display_table{
	border-bottom-right-radius: 20px;
	/*border-bottom-left-radius: 20px;*/
	padding:1px;
	box-shadow: 12px 12px 11px 6px #2e6da4;
    margin-right: 30% ;
    
}
.display_table1{
	border-bottom-right-radius: 20px;
	/*border-bottom-left-radius: 20px;*/
	padding:30px;
	border:1px solid #337ab7;
    
}
.header {
    font-family: helvetica;
    color: #337ab7;
    font-size: 50px;
    text-align: center;
    width: 100%;
    text-shadow: 6px 6px 6px #c9c6c6;
    display: block;
    font-weight: bolder;
}

.success{
	list-style: none;
	background-color: #2e6da4;
	color: white;
	box-shadow: 12px 12px 12px #e61c66;
	text-align: center;
}

.error{
	list-style: none;
	background-color: #52b6b9;
	color: white;
	box-shadow: 12px 12px 12px #b66784;
	text-align: center;
}


/* Version Button */
#version-display{
    background-color: #2278b1;
    color: white;
    box-shadow: 5px 12px 12px #9e9fa3;
    text-align: center;
    display: inline;
    font-weight: bolder;
    padding: 15px;
    position: fixed;
    top: 40px;
    left: -5px;
    z-index: 3000;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}



 /* Modal Header */
.modal-header {
    padding: 2px 16px;
    background-color: #2278b1;
    color: white;
}

/* Modal Body */
.modal-body {padding: 2px 16px;}

/* Modal Footer */
.modal-footer {
    padding: 2px 16px;
    background-color: #2278b1;
    color: white;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);

}


.dev-info{
    width: 50%;
    text-align: center;
    font-family: helvetica;
    font-weight: bold;
    display: inline;
}

.dev-info-logo{
    width: 50px;
    float: left;
}


