{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

  {% include 'modal.html' %}
  {% include 'send.html' %}

  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
  
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>

    {% if messages %}
      <ul class="messages">
         {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
         {% endfor %}
       </ul>
  {% endif %}
  
    <div class="header text-center"> {{ header }}</div>
      <div class = "row">
        <div class = "col-sm-2">
            <form method='POST' action=''>
            {% csrf_token %}
                {{form|crispy}}
                <div class="d-flex justify-content-between"> 

                <input type="submit" name="search" value='Search' style="background-color: #1C7BF2; color: #fff; border-radius: 5px;" />

           
               <a class="dropdown-item" data-toggle="modal" data-target="#reportActionModal" href="#"> <img src = "{% static 'img/mail.png' %} " style="width: 40px; height: 40px; object-fit: contain" ></a>
                </div>
            </form>
        </div>
        <div class = "col-sm-10">
            <br>  

            <div class="display_table" style="min-width:fit-content; padding-right:1%; padding-left:1%; padding-top:1%; padding-bottom:1%;">
                <table class='table' id="table_id">
                  <thead>
                    <tr>
                      <th>COUNT</th>
                      <th>ID</th>
                      <th>CATEGORY</th>
                      <th>ITEM NAME</th>
                      <th>QUANTITY IN STORE</th>
                      <th>ISSUE QUANTITY</th>
                      <th>RECEIVED QUANTITY</th>
                      <th>RECEIVED BY</th>
                      <th>ISSUED BY</th>
                      <th>ISSUED TO</th>
                      <th>LAST UPDATED</th>
                    </tr>
                  </thead>
                {% for instance in qset %}
                    <tr>

                      <td>{{forloop.counter}}</td>
                      <td>{{instance.id}}</td>
                      <td>{{instance.category}}</td>
                      <td>{{instance.item_name}}</td>
                      <td>{{instance.quantity}}</td>
                      <td>{{instance.issue_quantity}}</td>
                      <td>{{instance.receive_quantity}}</td>
                      <td>{{instance.receive_by}}</td>
                      <td>{{instance.issue_by}}</td>
                      <td>{{instance.issue_to}}</td>
                      <td>{{instance.last_updated}}</td>
                    </tr>
                {% endfor %}

                
              </table>
            {% comment %} {% include 'paginate.html' %} {% endcomment %}
            </div>
        </div>
    </div>
  </div>

<script>
$(document).ready(function() {
    $('#table_id').DataTable();
} 
);
console.log("ready")

</script>

{% endblock %}









