{% load static %}


<link href = "{% static 'css/style.css' %}" rel = "stylesheet">
<a href="#" id="version-display" data-toggle="modal" data-target="#myModal"><div >DTS Ver: 1.0</div></a>
  <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
          <!-- Modal content-->
            <div class="modal-content">
              
                <div class="modal-header">
                    <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                    <h4 class="modal-title">System Information</h4>
                </div>
                
                <div class="modal-body">
                    <div class="dev-info">
                      <p class=""><b>STOCK MANAGEMENT INFORMATION SYSTEMS</b></p>
                      <p>VERSION: 1.O</p><br>

                      <p class="modal-header">DEVELOPER:</p>
                      <p>DobbieDts</p>
                      <p>08064860927</p>
                      <p><img src="/static/img/DTS_logo.jpg" alt="Developer Logo" style="width:70px; height:70px;"></p>             
                    </div>
                </div>

                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>

            </div>
      </div>
  </div>