<div class="modal fade" id="reportActionModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Send Report</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="bi bi-x"></i>
                </button>
            </div>
            <div class="modal-body p-2">
                <ul class="list-group list-group-flush" id="reportActionModalList">
                    
                    <button href="#" class="list-group-item text-left no-focus border-0" data-toggle="collapse" data-target="#sendReport">
                        <i class="bi bi-envelope-open"></i>
                        Send Report as Email
                    </button>
                    <div class="collapse px-3" id="sendReport">
                        <div class="py-3">
                            <form method="POST" action="">
                            {% csrf_token %}
                                <input type="email" name="email_to" class="form-control mb-3 py-4" placeholder="Please Enter Email address" required>
                                <div class="form-group">
                                    <input name="reportType" value="csv" type="radio" required />
                                        <i class="bi bi-file-spreadsheet"></i>
                                            Format Report as CSV
                                    </input>
                                </div>

                                <input type="submit" value="Send" class="btn text-white bg-primary w-100 theme-gradient py-2">
                            </form>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</div>